.active {
    font-weight: 600;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    font-family: calibri;
    font-size: 25px;
}

a {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
}

hr{
    width: 90%;
    margin-top: 5px; 
    margin-bottom: 10px; 
    border: none;
    border-top: 1px solid gainsboro;
}